<!DOCTYPE html>
<html>
  <head>
    <title>TestApparitionScreenshot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div style="height: 500px; background: red">a</div>
    <div style="height: 500px; background: blue">b</div>
    <div style="height: 500px; background: green">c</div>
  </body>
</html>
